body, ul, li, p, h1, h2, h3, h4, h5, h6 {
  color: white;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.2em;
}
a {
  text-decoration: none;
  color: white;
  &:hover {
    text-decoration: underline;
  }
}